#Ignored files

##### These exclude several files "*", be carful not to exclude a file you actually don't want #####################################################
*~
*swp
*swo
*.jou
*.log
*.aux
*.fls
*.out
*.gz
*.fdb_latexmk
####################################################################################################################################################
synthesis/output
slack/slack_old





